{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Task </h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
        <!-- category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <!-- Dirty little secret in MATERIALIZE: the 'select' section gets read like a 'input' section with some custom classes and 'data-target' applied.
                     Below the input we'll find a 'select' element and we'll see that our browser applied a 'CSS' 'display:none', if we uncheck that property we can see our 'select' element appearing without styles, they are located in the input.
                     Materialize creates an Unordered list <ul> with a unique ID targeted to our original 'select' element, and its <li> elements with their Custom ID's that contain a <span> matching 
                     with the <option>s below(see the DEV TOOL in Google going back to this code before the "CI source code added" commit).
                     Using JS files the input will populate the <ul> and <li> elements based on a 'click' event listener, the 'required' attribute doesn't work in <ul>'s, adding 'required' to the input won't work either.
                     We apply the source code, explained function per function in 'script.js'  -->
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Task Category</label>
            </div>
        </div>
        <!-- task name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="task_name" name="task_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="task_name">Task Name</label>
            </div>
        </div>
        <!-- task description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align prefix light-blue-text text-darken-4"></i>
                <textarea id="task_description" name="task_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="task_description">Task Description</label>
            </div>
        </div>
        <!-- due date picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="due_date" name="due_date" type="text" class="validate datepicker" required>
                <label for="task_name">Due Date</label>
            </div>
        </div>
        <!-- is urgent toggle -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_urgent">
                        <input type="checkbox" id="is_urgent" name="is_urgent">
                        <span class="lever"></span>
                        Is Urgent
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="fas fa-plus-square"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}